{% extends "two-columns.html" %}

{% block metadata %}
<meta name="description" content="BIM&Codng 高尚的个人博客 BIM 编程 Python C#" >
 
{% endblock %}

{% block title %}{{title}} {{sub_title}} - Nova {% endblock %}

{% block maincol %}
    <div class="page-header">
        <h1>{{title}} <small> {{sub_title}}</small></h1>
    </div>
    <div class="article-list">
        {% for article in article_list %}
        <div class="article-list-item">

            <a href="/blog/{{article.pk}}"><h2 class="text-primary">{{article.title}}</h2></a>
            <p class="text-muted">{{article.time|date:"Y 年 n 月 j 日"}}</p>
            <p class="text-justify">
                {{article.summary}}
            </p>
            <p>
                {% for tag in article.tags.all %}
                <a href="/blog/tag/{{tag.pk}}"> <span class="label label-primary">{{tag.name}}</span></a>
             {% endfor %}
            </p>
            <hr/>
        </div>
        {% empty %}
        <h3><small>无结果</small></h3>
        {% endfor %}
    </div>
{% endblock %}

{% block rightcol %}
{% include "right-column.html" %}
{% endblock %}
