<footer class="site-footer">
    <hr/>
    <div class="container">
        <h4>BIM &amp; Coding&nbsp;&nbsp;<small>&nbsp;&nbsp;高尚的个人博客</small></h4>
        <hr/>
        <div class="row">
            <div class="col-sm-4 footer-col">
                <p>Designed &amp; Developed by <a href="#"><b>Nova</b></a></p>
                <p>Powered by <a href="https://www.djangoproject.com/"><b>Django</b></a> &amp; <a href="http://getbootstrap.com"><b>Bootstrap</b></a></p>
                <p>Hosted by <a href="http://www.aliyun.com"><b> Aliyun </b></a></p>
                <a href="http://www.miitbeian.gov.cn/"> 沪ICP备16022751号-1 </a>
            </div>
            <div class="col-sm-4 footer-col">
                <p>
                    <span class="footer-icon"> 
                        {% include "svg/FooterMe.svg" %}
                    </span>
                    <b> 高尚</b>
                </p>
                <p>
                    <span class="footer-icon"> 
                        {% include "svg/FooterMail.svg" %} 
                    </span>
                    <a href="mailto:styleshang@outlook.com" class="footer-text"> styleshang@outlook.com</a>
                </p>
                <p>
                    <span class="footer-icon">
                        {% include "svg/FooterGithub.svg" %} 
                    </span>
                    <a href="https://github.com/novashang"> novashang</a>
                </p>
                <p>
                    <span class="footer-icon"> 
                        {% include "svg/FooterWeibo.svg" %} 
                    </span>
                    <a href="http://weibo.com/novashang"> NNNNNova</a>
                </p>
            </div>
            <div class="col-sm-4 footer-col">
                <p>&lt;Nova&gt;</p>
                <p>Think + Believe = 42</p>
                <p class="footer-description">如果你能看懂上边这行字我们一定能成为好基友哒！应该没有人会注意到这行字了吧。</p>
            </div>
        </div>
    </div>
</footer>