<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.min.css">
    <title>ezVR</title>
</head>


<body>
    <div id="urn" height="0px">{{vrmodel.urn}}</div>
	<div height="100px">
	<h1>{{vrmodel.name}}</h1>
	<p>请将手机横屏进行观看</p>
	</div>
	
	<div id="move-triger" style="background:black; position:absolute;width:10%;height:30%;left:45%;top:100px;z-index:9999">前进</div>
    <div class="outer">
        <table width="100%" height="110%" style="border-spacing:0px">
            <tr>
                <td width="50%">
					<div class="viewer" id="viewer-left"></div>
                </td>
                <td width="50%">
                    <div class="viewer" id="viewer-right"></div>
                </td>
            </tr>
        </table>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/fvserver/three.min.js"></script>
    <script src="/static/fvserver/viewer3D.min.js"></script>
    <script src="/static/js/vrviewer.js"></script>
</body>

</html>
