.navbar-brand {
    padding: 15px 15px 15px 15px;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.landscape {
    /*height: 480px;*/
    width: 100%;
}

.text-name {
    padding-top: 16px;
    color: #CCC;
    font-size: 20px;
}

.text-item {
    font-weight: bold;
    font-size: 16px;
    color: #EEE;
    padding-bottom: 20px;
}

.item-icon>svg {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    height: 48px;
    vertical-align: bottom;
}

.item-icon>svg path {
    fill: #EEE
}

.home-content {
    padding-top: 20px;
    background: #DDD;
}

.home-block {
    height: 256px;
}